 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
        
  body {
  background: #f2f2f2;
  font-family: "Roboto"; 
  width: 80%;
  height: 100vh;}

  .wrap {/*Formulario*/
  width: 80%;
  height: 50vw;      
  max-width: 400px;
  padding: 40px;      
  margin: auto;
  background: #fff;
  box-shadow: 0px 0px 3px grey; }
        
  .registro {
  width: 110%; /*Centrar todo el formulario hacia los lados*/
  color: #f2f2f2;
  padding: 50px; }
  .registro .formulario { /*Todo el contenido dentro del formulario*/
    width: 100%; 
    margin: auto; }
    .registro .formulario .input-group { /*Todos los input*/
      position: relative;
        margin-right: 5%;
        margin-top: -2%;
        margin-bottom: -5px; /*Espacio entre cada input*/ }
      .registro .formulario .input-group input[type="number"],/*id_usuario*/
      .registro .formulario .input-group input[type="text"], /*no. de expediente*/
      .registro .formulario .input-group input[type="text"], /*nombre*/
      .registro .formulario .input-group input[type="text"], /*apellidos*/
       .registro .formulario .input-group input[type="text"], /*categoria*/
      .registro .formulario .input-group input[type="e-mail"], /*correo*/
       .registro .formulario .input-group input[type="text"], /*nombre de usuario*/
      .registro .formulario .input-group input[type="password"], /*contraseña*/
      .registro .formulario .input-group input[type="password"] { /*confirmar contraseña*/
        font-family: "Roboto";
        font-size: 16px;
        color: #B6B6B6; /*color de letra al escribir*/
        width: 100%;
        outline: none;
        padding: 15px;
        background: none;
        border: none;
        border-bottom: 2px solid #ffcc80; } /*Campos ya llenados o estáticos*/        
        .registro .formulario .input-group input[type="number"]:focus, /*id_usuario*/
        .registro .formulario .input-group input[type="number"]:active, /*id_usuario*/
        .registro .formulario .input-group input[type="text"]:focus, /*no. de expediente*/
        .registro .formulario .input-group input[type="text"]:active, /*no. de expediente*/
        .registro .formulario .input-group input[type="text"]:focus, /*nombre*/
        .registro .formulario .input-group input[type="text"]:active, /*nombre*/
         .registro .formulario .input-group input[type="text"]:focus, /*apellidos*/
        .registro .formulario .input-group input[type="text"]:active, /*apellidos*/
        .registro .formulario .input-group input[type="text"]:focus, /*categoria*/
        .registro .formulario .input-group input[type="text"]:active, /*categoria*/
        .registro .formulario .input-group input[type="e-mail"]:focus, /*correo*/
        .registro .formulario .input-group input[type="e-mail"]:active, /*correo*/
         .registro .formulario .input-group input[type="text"]:focus, /*nombre de usuario*/
        .registro .formulario .input-group input[type="text"]:active, /*nombre de usuario*/
        .registro .formulario .input-group input[type="password"]:focus, /*contraseña*/
        .registro .formulario .input-group input[type="password"]:active, /*contraseña*/
        .registro .formulario .input-group input[type="password"]:focus, /*confirmar contraseña*/
        .registro .formulario .input-group input[type="password"]:active{ /*confirmar contraseña*/
          outline: none;
          border-bottom: 2px solid #ff9800; } /*Campos activos*/
        .registro .formulario .input-group input[type="number"].error, /*id_usuario*/
         .registro .formulario .input-group input[type="text"].error, /*no. de expediente*/
         .registro .formulario .input-group input[type="text"].error, /*nombre*/
        .registro .formulario .input-group input[type="text"].error, /*apellidos*/
         .registro .formulario .input-group input[type="text"].error, /*categoria*/
        .registro .formulario .input-group input[type="e-mail"].error, /*correo*/
        .registro .formulario .input-group input[type="text"].error, /*nombre de usuario*/
        .registro .formulario .input-group input[type="password"].error,  /*contraseña*/
        .registro .formulario .input-group input[type="password"].error{ /*confirmar contraseña*/
          border-bottom: 2px solid #D32F2F; } /*Campos sin llenar*/
          .registro .formulario .input-group input[type="number"].error + label, /*id_usuario*/
          .registro .formulario .input-group input[type="text"].error + label,  /*no. de expediente*/
          .registro .formulario .input-group input[type="text"].error + label,  /*nombre*/
          .registro .formulario .input-group input[type="text"].error + label,  /*apellidos*/
          .registro .formulario .input-group input[type="text"].error + label,  /*categoria*/
          .registro .formulario .input-group input[type="e-mail"].error + label, /*correo*/
          .registro .formulario .input-group input[type="text"].error + label,  /*nombre de usuario*/
          .registro .formulario .input-group input[type="password"].error + label,  /*contraseña*/
          .registro .formulario .input-group input[type="password"].error + label{ /*confirmar contraseña*/
            color: #B6B6B6;} /*Títulos de cada campo cuando ya tuvieron clic*/
      .registro .formulario .input-group label {
        color: #B6B6B6; } /*Títulos estáticos iniciales*/
        .registro .formulario .input-group label.label {
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          margin-left: 15px;
          font-size: 16px;
          line-height: 16px;
          position: absolute;
          top: 16px;
          left: 0; }
          .registro .formulario .input-group label.label.active {
            top: -12px;
            font-size: 12px;
            line-height: 12px;
            color: #B6B6B6; } /*Título de los campos, cuando están activos*/
 
        /*SELECT*/    
      
.registro .formulario select  {
      background:  #4caf50;
      border-radius: 1px;
      border: 2px solid #f2f2f2;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "Roboto";
      font-size: 16px;
      padding: 2px;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .registro .formulario select:hover {
        background:  #81c784; }


/*Botones*/
    .registro .formulario input[type="submit"] {
      background: #4caf50;
      border-radius: 1px;
      border: 2px solid #f2f2f2;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "Roboto";
      font-size: 16px;
      padding: 15px;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .registro .formulario input[type="submit"]:hover {
        background:  #81c784; }

   .registro .formulario button[type="button"] {
      background: #4caf50;
      border-radius: 1px;
      border: 2px solid #f2f2f2;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "Roboto";
      font-size: 16px;
      padding: 15px;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .registro .formulario button[type="button"]:hover {
        background: #81c784; }